---
import { ROOM_ID_CONTAINER_ID } from "scripts/pages/room/pageManip/roomId";
import InviteFriendsBtn from "./InviteFriendsBtn.astro";
---

<div
  class="text-lg font-mono pb-2 text-center align-top flex flex-wrap sm:flex-row justify-center items-center gap-x-1"
>
  <div class="whitespace-nowrap">Room ID:</div>
  <div id={ROOM_ID_CONTAINER_ID} class="font-bold"></div>
  <InviteFriendsBtn />
</div>
