---
import Layout from "src/layouts/Layout.astro";
---

<Layout title="Talki: Free walkie-talkie chat">
  <main class="h-screen bg-talki-green-400">
    <h1 class="font-sans text-6xl font-bold">Talki</h1>
  </main>
</Layout>
