---
import Layout from "layouts/BasicHTMLLayout.astro";
import LoggedInStatus from "components/index/LoggedInStatus";
---

<Layout title="Talki: Free unlimited video calling">
  <main class="h-screen flex flex-col justify-center items-center gap-y-4">
    <h1 class="font-sans text-6xl font-bold">Talki</h1>
    <LoggedInStatus client:load />
    <form id="join-room-form" class="flex flex-col gap-y-4 items-center">
      <label for="roomId-input" class="sr-only">Enter room I.D.</label>
      <input
        id="roomId-input"
        name="roomId"
        class="text-center focus-visible:outline-talki-green-700 text-base sm:text-xl font-mono w-[28ch] py-1 rounded"
        placeholder="Eg. sdfjlsdo"
      />
      <button
        type="submit"
        class="bg-gray-50 active:bg-gray-400 hover:bg-gray-200 px-2 py-1 font-mono font-bold"
        >Join existing room</button
      >
    </form>
    <div class="font-sans">or</div>
    <a
      href="/talki/room"
      class="bg-talki-black hover:bg-gray-300 focus-visible:bg-gray-300 hover:outline hover:outline-2 hover:outline-gray-500 text-white hover:text-black focus-visible:text-black px-4 py-2 font-mono font-bold"
      >Create new Chat Room</a
    >
  </main>
</Layout>
<script>
  import { redirectToInternalUrl } from "utils/functions/redirects";

  const joinRoomForm = document.getElementById(
    "join-room-form"
  ) as HTMLFormElement;
  const joinRoom = (e: SubmitEvent) => {
    e.preventDefault();
    const formValues = new FormData(joinRoomForm);
    const roomId = formValues.get("roomId");
    if (typeof roomId !== "string")
      throw new Error("Couldn't get roomId from form");

    const searchParams = new URLSearchParams({ roomId });
    redirectToInternalUrl(`/room?${searchParams}`);
  };

  joinRoomForm?.addEventListener("submit", joinRoom);
</script>
