<div
  class="fixed z-[1] bottom-2 sm:bottom-[unset] sm:top-8 right-[50%] sm:right-8 translate-x-1/2 sm:translate-x-0 opacity-60 sm:opacity-100 hover:opacity-100"
>
  <a
    href="/talki/"
    class="font-semibold font-mono bg-red-500 hover:bg-white focus-visible:bg-white text-white hover:text-red-500 focus-visible:text-red-500 hover:outline focus-visible:outline-red-500 hover:outline-red-500 py-2 px-3 hover:shadow-sm transition-shadow"
    >Leave room</a
  >
</div>
