---
import { STREAM_CONTAINERS_CONTAINER_ID } from "scripts/pages/room/pageManip/streamContainer";
---

<div class="w-full h-full bg-black">
  <div
    class="w-full h-full grid grid-rows-[repeat(var(--grid-cols),1fr)] sm:grid-rows-[repeat(var(--grid-rows),1fr)] grid-cols-[repeat(var(--grid-rows),1fr)] sm:grid-cols-[repeat(var(--grid-cols),1fr)]"
    id={STREAM_CONTAINERS_CONTAINER_ID}
  >
  </div>
</div>
