---
import { STREAM_CONTAINERS_CONTAINER_ID } from "scripts/pages/room/pageManip/streamContainer";
---

<div class="w-full h-full bg-black">
  <div class="w-full grid h-full" id={STREAM_CONTAINERS_CONTAINER_ID}></div>
</div>
