---
import { ROOM_ID_CONTAINER_ID } from "scripts/pages/room/pageManip/roomId";
---

<div class="text-lg font-mono pb-2 px-2 text-center">
  Room ID: <span id={ROOM_ID_CONTAINER_ID} class="font-bold"></span>
</div>
