---
import { LOCAL_STREAM_CONTAINER_ID } from "scripts/pages/room/pageManip/streamContainer";
---

<div
  class="fixed bottom-2 sm:bottom-[unset] right-2 sm:right-[unset] sm:top-2 sm:left-2 h-16 sm:h-24 w-16 sm:w-32 hover:scale-[200%] origin-bottom-right sm:origin-top-left transition-transform duration-[400ms] ease-in-out"
>
  <video
    autoplay="true"
    id={LOCAL_STREAM_CONTAINER_ID}
    class="w-full h-full object-cover"></video>
</div>
