---
export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/talki/favicon.png" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta
      name="description"
      content="Unlimited video calling with unlimited friends, for free. Get started with 3 clicks!"
    />
    <meta name="og:title" content="Talki: Free unlimited video calling" />
    <meta
      name="og:description"
      content="Unlimited video calling with unlimited friends, for free. Get started with 3 clicks!"
    />
  </head>
  <body class="bg-talki-green-400">
    <slot />
  </body>
</html>
