---
import { ANON_SIGN_IN_ERROR_DIV_ID } from "scripts/components/auth/AnonymousSignInForm/errors";
---

<form
  id="anon-sign-in-form"
  class="flex flex-col items-center border-2 border-gray-200 rounded-md px-3 md:px-12 py-5"
>
  <label for="anon-username-input" class="text-sm text-gray-700 mb-1"
    >Enter temporary username</label
  >
  <input
    id="anon-username-input"
    name="username"
    type="text"
    placeholder="Russ Hanneman"
    class="border-2 px-2 mb-3"
    minlength="1"
    maxlength="20"
  />
  <button
    type="submit"
    class="bg-talki-green-200 focus-visible:bg-talki-green-800 hover:bg-talki-green-800 text-black focus-visible:text-white hover:text-white px-4 py-1 rounded-3xl focus-visible:rounded-none hover:rounded-none transition-[border-radius,color,background-color]"
    >Start using</button
  >
  <div
    id={ANON_SIGN_IN_ERROR_DIV_ID}
    role="alert"
    class="mt-4 text-red-400 font-bold text-base md:text-xl hidden"
  >
  </div>
</form>
<script>
  import handleSubmit from "scripts/components/auth/AnonymousSignInForm/form";

  const anonSignInForm = document.getElementById("anon-sign-in-form");
  if (!anonSignInForm) throw new Error("Couldn't find form");
  anonSignInForm.addEventListener("submit", handleSubmit);
</script>
