<script src="https://accounts.google.com/gsi/client" async defer></script>

<div id="google-btn-container"></div>
<div
  id="google-sign-in-error"
  class="mt-2 text-red-400 font-bold text-xl hidden"
>
</div>

<script>
  import initializeGoogleSignIn from "scripts/components/auth/GoogleSignInBtn/google";

  window.onload = initializeGoogleSignIn;
</script>
